body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-height: 5%) {
  .navbar{
    height: 5%;
  }

}

@media (min-width: 1200px) {
  body{
    font-size: 18px;
  }
}


.mainContainer{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head{
    text-align: center !important;
    justify-content: space-around;
}

.card {
    width: 90%;
    height: 130px;
    background-color: #f2f2f2;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin: 10px !important;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cardImg {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transition: transform 0.5s;
    
  }
  
  .card:hover img {
    transform: scale(1.2);
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    color: #fff;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .img-text {
    color: rgb(0, 0, 0);
  }
  
  .card:hover .card-content p {
    animation: slideIn 1s forwards;
  }

  .menuBtn{
    border-radius: 30px;
    border: none;
    background-color: gray;
    color: white;
    margin-right: 0%;
  }

  .contentImg{
    width: 30%;
    float: left;
    margin: 0 10px 10px 10px;
  }

  .contentHead{
    margin-bottom: 0px;
  }
  .content{
    margin-top: 5px;
  }